* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Manjari', sans-serif; }

img {
  border: 0; }

a {
  text-decoration: none;
  list-style: none;
  color: #000;
  font-family: 'Manjari', sans-serif; }

.hidden {
  display: none; }

button {
  background: none;
  border: 0;
  font-family: 'Manjari', sans-serif; }

#header .h_inner, .thum, .btn, .sub1 ul, .sub1_2 ul, .w_btn, .work, .sub3 table {
  width: 1280px;
  margin: 0 auto;
  overflow: hidden; }

#header {
  background: #065471;
  height: 140px;
  border-bottom: 1px solid #ffc045; }
  #header .h_inner h1 {
    float: left; }

nav {
  float: right; }
  nav button {
    display: none; }
  nav ul {
    padding-top: 58px; }
    nav ul li {
      float: left; }
      nav ul li a {
        padding: 0 24px;
        color: #fff;
        font-size: 24px; }
        nav ul li a:hover {
          color: #ffc045; }

.exit {
  display: none; }

#header .h_inner, .thum, .btn, .sub1 ul, .sub1_2 ul, .w_btn, .work, .sub3 table {
  width: 1280px;
  margin: 0 auto;
  overflow: hidden; }

.banner {
  background: #d9d9d9;
  padding: 52px 0; }
  .banner ul {
    text-align: center; }
    .banner ul li {
      display: inline-block;
      padding: 0 12px; }
      .banner ul li:hover {
        opacity: 0.5; }

.copy {
  background: #3a3a3a;
  padding: 36px 0; }
  .copy p {
    text-align: center;
    color: #c2c2c2;
    font-size: 16px; }

::selection {
  background: #ea0e3c;
  color: white; }

/* color */
/* extend */
#header .h_inner, .thum, .btn, .sub1 ul, .sub1_2 ul, .w_btn, .work, .sub3 table {
  width: 1280px;
  margin: 0 auto;
  overflow: hidden; }

.content, .sub1, .sub2 {
  background: #ffc045;
  padding: 80px 0; }

.sub1_2, .sub3 {
  background: #065471;
  padding: 80px 0; }

.title_b {
  width: 300px;
  height: 300px;
  background: #065471;
  text-align: center;
  margin: 40px auto;
  padding: 100px 0;
  box-sizing: border-box; }
  .title_b h3 {
    color: #ffc045;
    font-size: 72px;
    letter-spacing: -1px; }
  .title_b p {
    color: #5ebee1;
    letter-spacing: -1px;
    font-size: 24px;
    margin-top: -12px; }

.title_y {
  width: 300px;
  height: 300px;
  background: #ffc045;
  text-align: center;
  margin: 40px auto;
  padding: 100px 0;
  box-sizing: border-box; }
  .title_y h3 {
    color: #065471;
    font-size: 72px;
    letter-spacing: -1px; }
  .title_y p {
    color: #1793c1;
    letter-spacing: -1px;
    font-size: 24px;
    margin-top: -12px; }

/* main */
.visual {
  height: 500px;
  width: 100%;
  overflow: hidden; }

.thum li {
  float: left;
  width: 31%;
  margin: 20px 1%; }
  .thum li:hover a {
    display: block; }
  .thum li a {
    position: relative;
    display: block;
    background: rgba(6, 84, 113, 0.85);
    width: 100.8%;
    height: 280px;
    margin-bottom: -280px;
    line-height: 280px;
    text-align: center;
    display: none; }
    .thum li a span {
      color: #ffc045;
      background: #1785ae;
      padding: 12px 16px 8px;
      border: 1px solid #6dd7ff;
      border-radius: 10px; }
      .thum li a span:hover {
        opacity: 0.5; }

.title {
  background: #fff;
  margin-top: -7px;
  width: 100.8%;
  box-sizing: border-box;
  border: 1px solid #065471;
  padding: 12px 16px; }
  .title h4 {
    color: #065471;
    font-size: 20px;
    letter-spacing: -1px;
    margin-bottom: 8px; }
  .title p {
    color: #065471;
    font-weight: lighter;
    font-size: 20px;
    letter-spacing: -1px; }

.btn {
  text-align: center;
  margin: 24px auto;
  display: block; }
  .btn a {
    background: #065471;
    padding: 8px 32px;
    color: #ffc045;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -1px; }
    .btn a:hover {
      opacity: 0.5; }

/* sub1 */
.now a {
  color: #ffc045; }

.sub1 ul {
  margin-bottom: 120px; }

.car li {
  overflow: hidden; }
  .car li p {
    background: url("../images/sub1_0.png") no-repeat center center;
    width: 91px;
    height: 94px;
    color: #ffc045;
    font-weight: bold;
    text-align: center;
    line-height: 76px;
    font-size: 28px;
    letter-spacing: -1px;
    float: left;
    margin: 8px 20px 8px 0; }
  .car li span {
    float: left;
    display: inline-block;
    background: #4cb1d6;
    padding: 12px 48px;
    font-size: 18px;
    color: #fff;
    letter-spacing: -1px;
    border-radius: 5px;
    margin-top: 48px; }

.sub1_2 ul {
  margin-bottom: 120px; }

.ski li {
  overflow: hidden; }
  .ski li p {
    width: 123px;
    height: 104px;
    float: left;
    margin: 12px 20px 12px 0;
    text-align: center;
    line-height: 126px;
    font-size: 28px;
    font-weight: bolder; }
  .ski li span {
    float: left;
    display: inline-block;
    font-size: 20px;
    margin-top: 40px;
    padding: 16px 28px;
    letter-spacing: -0.5px; }

.ski1 p {
  background: url(../images/sub1_1.png) no-repeat left center;
  color: #4b2805; }

.ski2 p {
  background: url(../images/sub1_2.png) no-repeat left center;
  color: #4b2805; }

.ski3 p {
  background: url(../images/sub1_3.png) no-repeat left center;
  color: #4b2805; }

.ski4 p {
  background: url(../images/sub1_4.png) no-repeat left center;
  color: #4b2805; }

.ski5 p {
  background: url(../images/sub1_5.png) no-repeat left center;
  color: #4b2805; }

.ski6 p {
  background: url(../images/sub1_6.png) no-repeat left center;
  color: #4b2805; }

.ski7 p {
  background: url(../images/sub1_7.png) no-repeat left center;
  color: #4b2805; }

.ski4 p, .ski4 span {
  color: #054c0f; }

.ski5 p, .ski5 span {
  color: #075292; }

.ski6 p, .ski6 span {
  color: #abb2f9; }

.ski7 p, .ski7 span {
  color: #d3ccff; }

.ski1 span {
  background: url(../images/sub1_101.png) no-repeat right center #f21973;
  color: #4b2805; }
  .ski1 span b {
    padding-left: 720px;
    padding-right: 20px; }

.ski2 span {
  background: url(../images/sub1_201.png) no-repeat right center #f28519;
  color: #4b2805; }
  .ski2 span b {
    padding-left: 600px;
    padding-right: 20px; }

.ski3 span {
  background: url(../images/sub1_301.png) no-repeat right center #f2d819;
  color: #4b2805; }
  .ski3 span b {
    padding-left: 740px;
    padding-right: 20px; }

.ski4 span {
  background: url(../images/sub1_401.png) no-repeat right center #46c722; }
  .ski4 span b {
    padding-left: 550px;
    padding-right: 20px; }

.ski5 span {
  background: url(../images/sub1_501.png) no-repeat right center #21a7ff; }
  .ski5 span b {
    padding-left: 780px;
    padding-right: 20px; }

.ski6 span {
  background: url(../images/sub1_601.png) no-repeat right center #071282; }
  .ski6 span b {
    padding-left: 500px;
    padding-right: 20px; }

.ski7 span {
  background: url(../images/sub1_701.png) no-repeat right center #3314fd; }
  .ski7 span b {
    padding-left: 400px;
    padding-right: 20px; }

/* sub2 */
.w_btn {
  margin: 80px auto 20px; }
  .w_btn li {
    display: inline-block; }
    .w_btn li button {
      text-align: center;
      font-size: 26px;
      color: #065471;
      letter-spacing: -0.5px;
      padding: 14px 40px 8px;
      margin: 0 28px;
      background: #fff2d8;
      border: 2px solid #065471;
      cursor: pointer; }
      .w_btn li button:first-child {
        margin-left: 0; }
      .w_btn li button:hover {
        background: #065471;
        color: #ffc045; }

.hide1, .hide2 {
  display: none; }

.w_inner {
  width: 5120px; }
  .w_inner > li {
    float: left;
    margin: 40px 0; }
    .w_inner > li ul {
      width: 1280px;
      overflow: hidden;
      margin-bottom: 40px; }
      .w_inner > li ul li {
        float: left;
        width: 31%;
        margin: 20px 1%; }
        .w_inner > li ul li:hover a {
          display: block; }
        .w_inner > li ul li a {
          position: relative;
          display: block;
          background: rgba(6, 84, 113, 0.85);
          width: 100.8%;
          height: 280px;
          margin-bottom: -280px;
          line-height: 280px;
          text-align: center;
          display: none; }
          .w_inner > li ul li a span {
            color: #ffc045;
            background: #1785ae;
            padding: 12px 16px 8px;
            border: 1px solid #6dd7ff;
            border-radius: 10px; }
            .w_inner > li ul li a span:hover {
              opacity: 0.5; }

/* sub3 */
.sub3 table {
  border-collapse: separate;
  border-spacing: 0 40px; }
  .sub3 table td {
    color: #ffc045;
    font-size: 18px;
    letter-spacing: -1px;
    padding-left: 2%; }
    .sub3 table td a {
      color: #ffc045;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: -1px; }
      .sub3 table td a:hover {
        opacity: 0.5; }

/*# sourceMappingURL=main.css.map */
